/* || Globals */
:root {
    --dark-primary-color: #dcddde;
    --dark-accent-color: #45ecb6;
    --dark-secondary-color: #8e9297;
    --dark-soft-color: #2f2f2f;
    --dark-medium-color: #3a3939;
    --dark-hard-color: #202225;
    --dark-boxShadow-color: #171717;
}

.darkmode--activated ::selection {
    background: var(--dark-accent-color);
}
.darkmode--activated ::-moz-selection {
    background: var(--dark-accent-color);
}

body.darkmode--activated {
    color: var(--dark-primary-color);
}

.darkmode--activated a:visited {
    color: var(--dark-accent-color);
}

.darkmode--activated code {
    background: var(--dark-hard-color);
}

div.darkmode-layer {
    mix-blend-mode: unset;
    background: var(--dark-soft-color);
}

.darkmode--activated .darkmode-toggle {
    color: var(--dark-hard-color);
}

.darkmode--activated svg:not(:root).svg-inline--fa {
    overflow: visible;
}

/* || Utility Classes */
.darkmode--activated .u-primary-color {
    color: var(--dark-accent-color);
}

.darkmode--activated .u-highlight {
    background: var(--dark-accent-color);
    color: var(--dark-hard-color);
}

.darkmode--activated .u-button {
    background: var(--dark-hard-color);
    color: var(--dark-secondary-color);
}

.darkmode--activated .u-button:hover {
    color: var(--dark-hard-color);
}

.darkmode--activated .u-button::before {
    background: var(--dark-accent-color);
}

.darkmode--activated .u-tooltip {
    background: var(--dark-hard-color);
    box-shadow: 0 0 3px 1px var(--dark-boxShadow-color);
    color: var(--dark-primary-color);
}

.darkmode--activated .u-tooltip__arrow:before {
    background: var(--dark-hard-color);
    box-shadow: 0 0 3px 1px var(--dark-boxShadow-color);
}

/* || General */
.darkmode--activated .meta__tooltip__use {
    border-color: var(--dark-soft-color);
}

.darkmode--activated .styles {
    background: var(--dark-hard-color);
    color: var(--dark-primary-color);
}

.darkmode--activated .styles li {
    border-color: var(--dark-soft-color);
}

.darkmode--activated .results > li {
    border-color: var(--dark-hard-color);
}

.darkmode--activated .results:not(:empty) {
    border-color: var(--dark-hard-color);
}

.darkmode--activated .results-wrapper {
    isolation: isolate;
}

.darkmode--activated .results .element {
    color: var(--dark-secondary-color);
}

.darkmode--activated .search__field {
    background: var(--dark-medium-color);
    color: var(--dark-primary-color);
    border-color: var(--dark-hard-color);
}

.darkmode--activated .search__field:focus {
    background: var(--dark-hard-color);
}

.darkmode--activated .search span {
    background-color: var(--dark-accent-color);
}

.darkmode--activated .filter__button {
    border-color: var(--dark-soft-color);
}

.darkmode--activated .filter__button--active {
    background: var(--dark-accent-color);
    color: var(--dark-hard-color);
}

.darkmode--activated .filter-engine-styles input:checked ~ label svg {
    color: var(--dark-accent-color);
}

.darkmode--activated .header {
    isolation: isolate;
}

.darkmode--activated .header h1 span {
    color: var(--dark-accent-color);
}