/* || Globals */
:root {
    --dark-primary-color: #dcddde;
    --dark-accent-color: #45ecb6;
    --dark-secondary-color: #8e9297;
    --dark-soft-color: #292929;
    --dark-medium-color: #3a3939;
    --dark-hard-color: #202225;
    --dark-boxShadow-color: #171717;
    --dark-subtle-font: #5a5a5a;
}

.darkmode--activated ::selection {
    background: var(--dark-accent-color);
    color: var(--dark-hard-color);
}
.darkmode--activated ::-moz-selection {
    background: var(--dark-accent-color);
    color: var(--dark-hard-color);
}

body.darkmode--activated {
    color: var(--dark-primary-color);
}

.darkmode--activated a,
.darkmode--activated a:hover,
a:visited {
    color: var(--dark-accent-color);
}

.darkmode--activated code {
    background: var(--dark-hard-color);
}

div.darkmode-layer {
    mix-blend-mode: unset;
    background: var(--dark-soft-color);
}

.darkmode--activated .darkmode-toggle {
    color: var(--dark-hard-color);
}

.darkmode--activated svg:not(:root).svg-inline--fa {
    overflow: visible;
}

/* || Utility Classes */
.darkmode--activated .u-dark--hide {
    display: none;
}

.darkmode--activated .u-primary-color {
    color: var(--dark-accent-color);
}

.darkmode--activated .u-highlight {
    background: var(--dark-accent-color);
    color: var(--dark-hard-color);
}

.darkmode--activated .u-button {
    background: var(--dark-hard-color);
    color: var(--dark-secondary-color);
}

.darkmode--activated .u-button:hover {
    color: var(--dark-hard-color);
}

.darkmode--activated .u-button::before {
    background: var(--dark-accent-color);
}

.darkmode--activated .u-tooltip {
    background: var(--dark-medium-color);
    color: var(--dark-primary-color);
}

.darkmode--activated .u-tooltip:before, 
.darkmode--activated .u-tooltip:after {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.darkmode--activated .u-tooltip__arrow:before {
    background: var(--dark-medium-color);
}

/* || General */
.darkmode--activated .to-top:hover:after {
    background: var(--dark-medium-color);
}

.darkmode--activated .content-wrapper:before {
    color: var(--dark-subtle-font);
}

.darkmode--activated .description__tooltip__use {
    border-color: var(--dark-soft-color);
}

.darkmode--activated .meta__note {
    background: var(--dark-soft-color);
    color: var(--dark-subtle-font);
}

.darkmode--activated .styles {
    background: var(--dark-hard-color);
    color: var(--dark-primary-color);
}

.darkmode--activated .styles li {
    border-color: var(--dark-soft-color);
}

.darkmode--activated .results-meta {
    color: var(--dark-subtle-font);
}

.darkmode--activated .results > li {
    border-color: var(--dark-hard-color);
    background: var(--dark-medium-color);
}

.darkmode--activated .results > li:before, 
.darkmode--activated .results > li:after {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.darkmode--activated .results:before {
    color: var(--dark-subtle-font);
}

.darkmode--activated .results-wrapper {
    isolation: isolate;
}

.darkmode--activated .results .element {
    color: var(--dark-secondary-color);
}

.darkmode--activated .search__field {
    background: var(--dark-medium-color);
    color: var(--dark-primary-color);
    border-color: var(--dark-hard-color);
}

.darkmode--activated .search__field:focus {
    background: var(--dark-hard-color);
}

.darkmode--activated .search span {
    background-color: var(--dark-accent-color);
}

.darkmode--activated .search svg {
    color: var(--dark-subtle-font);
}

.darkmode--activated .filter__button {
    border-color: var(--dark-soft-color);
}

.darkmode--activated .filter__button--active {
    background: var(--dark-accent-color);
    color: var(--dark-hard-color);
}

.darkmode--activated .filter-engine-styles input:checked ~ label svg {
    color: var(--dark-accent-color);
}

.darkmode--activated.u-scrollUp .actions-wrapper {
    background: var(--dark-soft-color);
}

.darkmode--activated.u-scrollUp .actions-wrapper:before, 
.darkmode--activated.u-scrollUp .actions-wrapper:after {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.darkmode--activated .compatibility > span {
    background: var(--dark-hard-color);
}

.darkmode--activated .compatibility span span:last-child {
    color: var(--dark-secondary-color);
}

.darkmode--activated .compatibility span span:first-child svg {
    color: var(--dark-secondary-color);
}

.darkmode--activated .sources {
    color: var(--dark-subtle-font)
}

.darkmode--activated .sources:hover {
    color: var(--dark-primary-color);
}
    
.darkmode--activated .footer-wrapper {
    background: var(--dark-soft-color);
}

.darkmode--activated .info {
    color: var(--dark-subtle-font);
}