/* || Globals */
:root {
    --light-primary-color: #656565;
    --light-accent-color: #45ecb6;
    --light-secondary-color: #333333;
    --light-soft-color: #ffffff;
    --light-medium-color: #f8f8f8;
    --light-hard-color: #f1f1f1;
    --light-boxShadow-color: #e4e4e4;
    --light-subtle-font: #b1b1b1;
}

:root body:not(.darkmode--activated) {
    color-scheme: light;
}

::selection {
    background: var(--light-accent-color);
}
::-moz-selection {
    background: var(--light-accent-color);
}

body {
    color: var(--light-primary-color);    
}

a,
a:hover,
a:visited {
    color: var(--light-accent-color);
}

code {
    background: var(--light-hard-color);
}

div.darkmode-layer {
    mix-blend-mode: unset;
    background: #292929;
}

.darkmode-toggle {
    color: var(--light-hard-color);
}

/* || Utility Classes */
body:not(.darkmode--activated) .u-light--hide {
    display: none;
}

.u-primary-color {
    color: var(--light-accent-color);
}

.u-highlight {
    background: var(--light-accent-color);
}

.u-button {
    background: var(--light-hard-color);
    color: var(--light-secondary-color);
}

.u-button:hover {
    color: var(--light-secondary-color);
}

.u-button::before {
    background: var(--light-accent-color);
}

.u-tooltip {
    background: var(--light-soft-color);
    color: var(--light-secondary-color);
}

.u-tooltip:before, 
.u-tooltip:after {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.u-tooltip__arrow:before {
    background: var(--light-soft-color);
}

/* || General */
.to-top:hover:after {
    background: var(--light-hard-color);
}

.content-wrapper:before {
    color: var(--light-subtle-font);
}

.description__tooltip__use {
    border-color: var(--light-hard-color);
}

.meta__note {
    background: var(--light-hard-color);
    color: var(--light-subtle-font);
}

.styles {
    background: var(--light-hard-color);
    color: var(--light-primary-color);
}

.styles li {
    border-color: var(--light-boxShadow-color);
}

.results-meta {
    color: var(--light-subtle-font);
}

.results > li {
    border-color: var(--light-hard-color);
    background: var(--light-soft-color);
}

.results > li:before, 
.results > li:after {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.results:before {
    color: var(--light-subtle-font);
}

.results .element {
    color: var(--light-secondary-color);
}

.search__field {
    background: var(--light-soft-color);
    color: var(--light-primary-color);
    border-color: var(--light-hard-color);
}

.search__field:focus {
    background: var(--light-medium-color);
}

.search span {
    background-color: var(--light-accent-color);
}

.search svg {
    color: var(--light-subtle-font);
}

.filter__button {
    border-color: var(--light-soft-color);
}

.filter__button--active {
    background: var(--light-accent-color);
}

.filter-engine-styles input:checked ~ label svg {
    color: var(--light-accent-color);
}

.u-scrollUp .actions-wrapper {
    background: var(--light-soft-color);
}

.u-scrollUp .actions-wrapper:before, 
.u-scrollUp .actions-wrapper:after {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.compatibility > span {
    background: var(--light-hard-color);
}

.compatibility span span:last-child {
    color: var(--light-secondary-color);
}

.compatibility span span:first-child svg {
    color: var(--light-secondary-color);
}

.sources {
    color: var(--light-subtle-font)
}

.sources:hover {
    color: var(--light-primary-color);
}

.footer-wrapper {
    background: var(--light-soft-color);
}

.info {
    color: var(--light-subtle-font);
}