/* || Globals */
:root {
    --primary-color: #f1f1f1;
    --accent-color: #45ecb6;
    --secondary-color: #333333;
}

* {
    box-sizing: inherit;
}

html, 
body {
    min-height: 100%;
    height: auto;
}

@supports (display: grid) {
    html, 
    body {
        min-height: 100vh;
    }
}

html {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    margin: auto;
    position: relative;
    padding-bottom: 120px;
}

a,
a:hover,
a:visited {
    color: var(--accent-color);
}

::-webkit-search-cancel-button {
    display: none !important;
}

/* || Utility Classes */
.u-hide {
    display: none !important;
}

.u-accentColor {
    color: var(--accent-color);
}

.u-center {
    text-align: center;
    isolation: isolate;
}

.u-button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.u-button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.u-button:hover {
    cursor: pointer;
}

.u-button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.u-tooltip {
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .1s;
    opacity: 0;
    font-size: small;
    line-height: normal;
    z-index: 1;
    pointer-events: none;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
}

.u-tooltip:before, 
.u-tooltip:after {
    z-index: -1;
    position: absolute;
    content: "";
    top:0;
    bottom:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.u-tooltip:before {
    left: 100%;
    right: 100%;
}

.u-tooltip:after {
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
    right: 100%;
    left: auto;
}

.u-tooltip__arrow {
    width: 50px;
    height: 25px;
    position: absolute;
    overflow: hidden;
}

.u-tooltip__arrow--right {
    right: 0;
    left: auto;
}

.u-tooltip__arrow--left {
    left: 0;
    right: auto;
}

.u-tooltip__arrow--center {
    left: 0;
    right: 0;
    margin: auto;
}

.u-tooltip__arrow--top {
    top: auto;
    bottom: 100%;
    transform: rotate(180deg);
}

.u-tooltip__arrow--bottom {
    top: 100%;
    bottom: auto;
}

.u-tooltip__arrow:before {
    content: "";
    position: absolute;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 0;
    left: 50%;
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
    pointer-events: none;
    transition: .08s;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.8);
}

.u-tooltip-parent {
    position: relative;
}

.u-tooltip-parent:hover .u-tooltip {
    opacity: 1;
}

/* || General */
.to-top {
    width: 37px;
    height: 37px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: transparent;
    transition: .3s;
    position: fixed;
    bottom: 25px;
    left: 100px;
    opacity: 0;
    border-radius: 100%;
    cursor: pointer;
    pointer-events: none;
}

.to-top:after {
    content: "";
    background: transparent;
    width: 70%;
    height: 70%;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
    transition: .3s;
    z-index: -1;
    pointer-events: none;
}

.to-top:hover:after {
    bottom: 0;
    width: 100%;
    height: 100%;
}

.darkmode-toggle {
    z-index: 9;
}

.content-wrapper:before {
    content: "{ Browser Default Styles }";
    position: fixed;
    left: -500px;
    top: 20px;
    font-size: 1.5em;
    transition: .3s;
}

.content-wrapper {
    max-width: 750px;
    width: 80%;
    margin: auto;
}

.header {
    isolation: isolate;
    position: relative;
}

.header h1 {
    font-size: 3.2em;
    font-weight: normal;
    margin: auto;
    padding: 0.67em 0;
}

.header h4 {
    opacity: .5;
    font-size: 1em;
    font-weight: normal;
}

.results {
    margin: auto;
    padding: 0;
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(100%, 1fr);
    grid-gap: 15px;
}

.results-meta {
    margin-bottom: 5px;
}

.results-wrapper:hover {
    z-index: 1;
    position: relative;
}

.results:empty:before {
    content: "*:empty{...}";
    text-align: center;
    font-size: 3em;
    line-height: 3em;
    height: 3em;
    margin: 20px auto;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.results[class*="Styles"]:empty:before {
    opacity: .5;
}

.results > li {
    border-radius: 8px;
    position: relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
}

.results > li:before, 
.results > li:after {
    z-index: -1;
    position: absolute;
    content: "";
    top:0;
    bottom:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.results > li:before {
    left:10px;
    right:10px;
}

.results > li:after {
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
    right: 10px;
    left: auto;
}

.results .element {
    font-size: 2em;
    padding: 8px 10px 8px 10px;
    display: block;
    position: relative;
}

.results .element__name {
    display: inline-block;
    line-height: 1.5em;
}

.styles {
    font-size: small;
    list-style: none;
    padding: 10px 10px 10px 25px;
    line-height: 1.5em;
    position: relative;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.styles li {
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.styles li span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.styles li:after {
    content: "";
    height: 20px;
    width: 2px;
    position: absolute;
    right: calc(100% + 23px);
    top: 0;
}

.styles .gecko:after {
    background: var(--firefox);
}

.styles .webkit:after {
    background: var(--safari);
}

.styles .blink:after {
    background: var(--chrome);
}

.styles .trident:after {
    background: var(--internet-explorer);
}

.styles .blink,
.styles .webkit,
.styles .gecko,
.styles .trident {
    display: none;
}

.blinkStyles .styles .blink,
.webkitStyles .styles .webkit,
.geckoStyles .styles .gecko,
.tridentStyles .styles .trident {
    display: flex;
}

.meta {
    display: inline-block;
    font-size: small;
}

.meta__label {
    opacity: .8;
}

.meta__description {
    opacity: 0;
    left: -5px;
    transition: .3s;
}

.element:hover .meta__description {
    opacity: 1;
    left: 0;
}

.meta__description .meta__label {
    cursor: help;
}

.description__tooltip {
    bottom: 100%;
    left: 0;
    width: 100vw;
    max-width: 500px;
}

.u-tooltip-parent:hover .description__tooltip {
    bottom: calc(100% + 15px);
    pointer-events: initial;
}

.description__tooltip__use {
    border-top: 1px solid;
    padding-top: 5px;
    margin-top: 5px;
}

.meta__note {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: help;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 100%;
}

.meta__note > span {
    position: relative;
}

.obsolete div.meta__note {
    color: #de1818;
    background: #ffbdc9;
}

.note__tooltip {
    bottom: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 150px;
}

.u-tooltip-parent:hover .note__tooltip {
    bottom: calc(100% + 12px);
    pointer-events: initial;
}

.compatibility {
    position: absolute;
    right: 10px;
    bottom: -10px;
    display: flex;
    transition: .3s;
}

.compatibility--visible {
    bottom: 0;
}

.compatibility > span {
    padding: 3px 2px;
    min-width: 50px;
    height: 20px;
    font-size: 12px;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    vertical-align: bottom;
    margin-left: 3px;
    position: relative;
    overflow: hidden;
}

.compatibility span span:first-child {
    position: absolute;
    left: -3px;
    top: -3px;
    font-size: 18px;
    opacity: .3;
}

.compatibility span span:last-child {
    margin-bottom: -5px;
}

.compatibility span .supported svg {
    color: #0e940e;
}

.compatibility span .unsupported svg {
    color: #de1818;
}

.actions-wrapper {
    transition: .5s;
    position: static;
    top: -200px;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 2em;
    height: auto;
}

.actions {
    max-width: 750px;
    margin: auto;
}

.search {
    position: relative;
}

.search svg {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.search__field {
    transition: .2s ease;
    border: 0;
    border-bottom: 5px solid;
    padding: 5px 10px;
    display: block;
    width: 100%;
    font-family: monospace;
    text-align: center;
    font-size: 2em;
    background: transparent;
}

.search__field:focus, 
.search__field:active {
    outline: none;
}

.search span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 5px;
    opacity: 0;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: all 0.3s ease;
}

.search__field:focus ~ span {
    transform: translate(-50%, 0) scaleX(1);
    opacity: 1;
}

.logo {
    left: 20px;
    display: none;
    position: absolute;
    font-size: 2em;
    top: 0;
    bottom: 0;
    height: 2em;
    line-height: 2em;
    margin: auto;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.filter__buttongroup {
    flex-grow: 1;
    position: relative;
    flex: 1 1;
}

.filter__button {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid;
}

.filter__tooltip {
    top: 100%;
    right: 0;
    left: 0;;
    display: flex;
    justify-content: space-around;
    font-size: 1.7em;
    line-height: 10px;
}

.u-tooltip-parent:hover .filter__tooltip {
    top: calc(100% + 15px);
}

.filter__tooltip small {
    font-size: 10px;
    display: block;
    margin-top: 5px;
}

.results-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-results-label svg {
    display: none;
}

.filter-results-label[data-engine="blink"] .fa-chrome,
.filter-results-label[data-engine="blink"] .fa-opera,
.filter-results-label[data-engine="blink"] .fa-edge {
    display: inline-block;
}

.filter-results-label[data-engine="webkit"] .fa-safari {
    display: inline-block;
}

.filter-results-label[data-engine="gecko"] .fa-firefox {
    display: inline-block;
}

.filter-results-label[data-engine="trident"] .fa-internet-explorer {
    display: inline-block;
}

.filter-results-label span em {
    text-transform: uppercase;
}

.filter-engine-styles input {
    display: none;
}

.filter-engine-styles input:not(:checked) ~ label {
    text-decoration: line-through;
    opacity: .8;
}

.filter-engine-styles label {
    font-style: italic;
}

.filter-engine-styles input:not(:checked) ~ label svg {
    opacity: .5;
}

.filter-engine-styles label svg {
    margin-right: 5px;
}

.filter-engine-styles label, 
.filter-engine-styles svg {
    cursor: pointer;
}

.filter-engine-styles > span {
    display: none;
}

.filter-engine-styles.blinkStyles .blink-styles,
.filter-engine-styles.webkitStyles .webkit-styles,
.filter-engine-styles.geckoStyles .gecko-styles,
.filter-engine-styles.tridentStyles .trident-styles {
    display: inline-block;
}

.sources {
    position: fixed;
    right: 1em;
    bottom: 1em;
    transition: .3s;
}

.sources__tooltip {
    bottom: 100%;
    right: 0;
    width: 280px;
    max-width: 500px;
}

.u-tooltip-parent:hover .sources__tooltip {
    bottom: calc(100% + 15px);
    pointer-events: initial;
}

.sources ul {
    margin: auto;
    padding-left: 10px;
    list-style: none;
}

.u-tooltip-parent .darkmode-toggle__tooltip {
    bottom: 100%;
    min-width: 100px;
    transform: translateX(-43%);
}

.u-tooltip-parent:hover .darkmode-toggle__tooltip {
    bottom: calc(100% + 35px);
}

.footer-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.info div:first-child {
    font-size: 1.5em;
    margin-bottom: 10px;
    display: none;
}

.info ul {
    display: flex;
    padding: 0;
    margin: 0 0 -10px 0;
    list-style: none;
    min-height: 35px;
}

.info li {
    padding: 0 10px;
    position: relative;
}

.info li:last-child a img {
    position: relative;
    float: right;
    transform: translateY(-25%);
    margin-left: 10px;
    max-height: 35px;
}

.info li:not(:last-child):after {
    content: "\2219";
    font-size: 2em;
    line-height: 15px;
    right: -7px;
    position: absolute;
}

/* || Browsers */
:root {
    --chrome: #eac407;
    --opera: #ce0c0c;
    --edge: #0037ff;
    --internet-explorer: #00b9ff;
    --firefox: #e87411;
    --safari: #048cff;
}

.fa-chrome {
    color: var(--chrome);
}

.fa-opera {
    color: var(--opera);
}

.fa-edge {
    color: var(--edge);
}

.fa-internet-explorer {
    color: var(--internet-explorer);
}

.fa-firefox {
    color: var(--firefox);
}

.fa-safari {
    color: var(--safari);
}

/* || Scroll Behaviour */
.u-scrollUp .to-top {
    bottom: 32px;
    opacity: 1;
    pointer-events: initial;
}

.u-scrollDown .content-wrapper:before {
    left: 20px;
}

.u-scrollDown .actions-wrapper,
.u-scrollUp .actions-wrapper {
    z-index: 9;
    padding: 15px 10px 15px 10px;
}

.u-scrollDown .actions-wrapper {
    position: fixed;
    top: -200px;
}

.u-scrollUp .actions-wrapper {
    position: fixed;
    top: 0;
    -webkit-box-shadow:0 -1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
    -moz-box-shadow:0 -1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
    box-shadow:0 -1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
}

.u-scrollUp .actions-wrapper:before, 
.u-scrollUp .actions-wrapper:after {
    z-index: -1;
    position: absolute;
    content: "";
    top:0;
    bottom:0;
}

.u-scrollUp .actions-wrapper:before {
    left: 0;
    right: 0;
}

.u-scrollUp .actions-wrapper:after {
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
    right: 0;
    left: auto;
}

.u-scrollUp .actions-wrapper .actions .logo {
    display: block;
}

.u-scrollUp .actions-wrapper .actions > div:not(.logo) {
    position: relative;
    z-index: 10;
}

.u-scrollUp .actions-wrapper .filter {
    margin-bottom: 0;
}

.u-scrollUp .info div:first-child,
.u-scrollDown .info div:first-child {
    display: block;
}

/* || Media Queries */
@media(max-width: 1580px) {

    .u-scrollUp .actions-wrapper .actions .logo {
        display: none;
    }

    .content-wrapper:before {
        display: none;
    }

}

@media(max-width: 1050px) {

    .u-scrollUp .to-top {
        bottom: 5px;
    }
    
    .to-top {
        left: 5px;
    }

    .meta {
        display: block;
    }
    
    .meta__description {
        width: 100%;
        display: block;
        height: 0;
    }
    
    li:not(.obsolete) .meta__note,
    li .meta__note .note__tooltip {
        display: none;
    }

    .description__tooltip {
        max-width: calc(100% + 10px);
    }

    .element:hover .meta__description {
        height: 15px;
    }
    
    .compatibility {
        position: relative;
        top: 35px;
        right: 0;
        line-height: normal;
        margin-bottom: -10px;
        margin-top: 10px;
    }
    
    .compatibility--visible {
        top: 0;
    }

}

@media(max-width : 768px) {

    body {
        padding-bottom: 70px;
    }

    .header h1 {
        font-size: 2.2em;
    }
    
    .element__name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }

    .filter-results-label {
        order: 2;
    }

    .filter-engine-styles {
        margin-right: 10px;
    }

    .footer-wrapper {
        z-index: 1;
        transition: .3s;
        bottom: -100px;
        left: 0;
        right: 0;
    }
    
    .u-scrollDown .footer-wrapper {
        bottom: 0;
        position: fixed;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.0) inset;
    }
    
    .sources {
        position: relative;
        right: auto;
        bottom: auto;
        justify-content: flex-end;
    }
    
    .footer {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    
    .footer > div {
        flex: 1 1;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    .to-top {
        position: relative;
        bottom: auto;
        left: auto;
        opacity: 1;
        justify-content: center;
        pointer-events: initial;
    }
    
    .to-top:hover:after {
        border-radius: 0;
    }
    
    .to-top:after {
        width: 20px;
        height: 20px;
        bottom: auto;
    }
    
    .sources__tooltip {
        right: 10px;
    }

    .footer .info {
        flex-direction: column;
        flex-basis: 35%;
    }
    
    .info div:first-child {
        font-size: 1em;
        margin: auto;
    }
    
    .info div:last-child {
        display: none;
    }
    
    .darkmode-toggle, 
    .darkmode-layer {
        bottom: 10px !important;
        left: 10px !important;
    }
    
    .darkmode-layer--simple {
        left: 0 !important;
    }
    
}

@media(max-width: 580px) {
    
    .meta__description {
        display: none;
    }

    .actions-wrapper {
        top: auto;
        margin: auto;
    }

    .u-scrollDown .actions-wrapper {
        position: fixed;
        bottom: -500px;
        top: auto;
    }

    .u-scrollUp .actions-wrapper {
        position: fixed;
        bottom: 0;
        top: auto;
    }
    
    .header h1 {
        position: relative;
    }

    .header h1 span {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 0.67em 0;
    }
    
    .header h1 span:first-of-type {
        right: 100%;
    }
    
    .header h1 span:last-of-type {
        left: 100%;
    }
    
    .header h4 {
        font-size: 1em;
    }
    
    .to-top {
        justify-content: flex-end;
    }
    
}

@media(max-width: 450px) {
    
    .compatibility {
        display: none;
    }
    
    .browsers svg {
        margin-left: -2px;
    }
    
}