/* || Globals */
:root {
    --primary-color: #f1f1f1;
    --accent-color: #45ecb6;
    --secondary-color: #333333;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: monospace;
}

/* || Utility Classes */
.u-hide {
    display: none;
}

.u-center {
    text-align: center;
}

.u-button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.u-button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.u-button:hover {
    cursor: pointer;
}

.u-button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.u-tooltip {
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .3s;
    opacity: 0;
    font-size: small;
    line-height: normal;
    z-index: 1;
    pointer-events: none;
}

.u-tooltip__arrow {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.u-tooltip__arrow:before {
    content: "";
    position: absolute;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 0;
    left: 50%;
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
    pointer-events: none;
}

.u-tooltip-parent {
    position: relative;
}

.u-tooltip-parent:hover .u-tooltip {
    opacity: 1;
}

/* || General */
.to-top {
    width: 37px;
    height: 37px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: transparent;
    transition: .3s;
    position: fixed;
    bottom: 25px;
    left: 100px;
    opacity: 0;
    border-radius: 100%;
    cursor: pointer;
    pointer-events: none;
}

.to-top:after {
    content: "";
    background: transparent;
    width: 70%;
    height: 70%;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
    transition: .3s;
    z-index: -1;
    pointer-events: none;
}

.to-top:hover:after {
    bottom: 0;
    width: 100%;
    height: 100%;
}

.content-wrapper {
    max-width: 750px;
    margin: auto;
}

.header h1 {
    font-size: 3.2em;
    font-weight: normal;
}

.header h4 {
    opacity: .5;
    font-size: 1.3em;
    font-weight: normal;
}

.results {
    margin: auto;
    padding: 0;
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(500px, 1fr);
}

.results-wrapper:hover {
    z-index: 1;
    position: relative;
}

.results:not(:empty) {
    border-top: 2px solid;
}

.results > li {
    padding: 5px 10px;
    border: 2px solid;
    border-top: 0;
    position: relative;
}

.results .element {
    font-size: 2em;
    padding: 8px 0 8px 0px;
    display: block;
}

.styles {
    font-size: small;
    list-style: none;
    padding: 10px 10px 10px 25px;
    line-height: 1.5em;
}

.styles li {
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}

.styles li span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.styles .blink,
.styles .webkit,
.styles .gecko,
.styles .trident {
    display: none;
}

.blinkStyles .styles .blink,
.webkitStyles .styles .webkit,
.geckoStyles .styles .gecko,
.tridentStyles .styles .trident {
    display: flex;
}

.meta {
    display: inline-block;
    font-size: small;
}

.meta__label {
    opacity: .8;
}

.meta__description {
    opacity: 0;
    left: -5px;
    transition: .3s;
}

.element:hover .meta__description {
    opacity: 1;
    left: 0;
}

.meta__description .meta__label {
    cursor: help;
}

.meta__tooltip {
    bottom: 100%;
    left: 0;
    width: 100vw;
    max-width: 500px;
}

.meta__tooltip .u-tooltip__arrow {
    top: 100%;
    left: 25px;
}

.u-tooltip-parent:hover .meta__tooltip {
    bottom: calc(100% + 15px);
    pointer-events: initial;
}

.meta__tooltip__use {
    border-top: 1px solid;
    padding-top: 5px;
    margin-top: 5px;
}

.meta__note {
    position: absolute;
    top: 5px;
    right: 10px;
    font-style: italic;
}

.obsolete .meta__note {
    color: #de1818;
}

.actions-wrapper {
    margin-bottom: 2em;
    height: 85px;
}

.actions-wrapper .actions {
    transition: .5s;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 750px;
}

.search {
    position: relative;
}

.search__field {
    transition: .3s ease;
    border: 0;
    border-bottom: 5px solid;
    padding: 5px 10px;
    display: block;
    width: 100%;
    font-family: monospace;
    text-align: center;
    font-size: 2em;
    background: transparent;
}

.search__field:focus, 
.search__field:active {
    outline: none;
}

.search span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 5px;
    opacity: 0;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: all 0.3s ease;
}

.search__field:focus ~ span {
    transform: translate(-50%, 0) scaleX(1);
    opacity: 1;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.filter__buttongroup {
    flex-grow: 1;
    position: relative;
}

.filter__button {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid;
}

.filter__tooltip {
    top: 100%;
    right: 0;
    left: 0;;
    display: flex;
    justify-content: space-around;
    font-size: 1.7em;
    line-height: 10px;
}

.filter__tooltip .u-tooltip__arrow {
    transform: rotate(180deg) translateX(-50%);
    transform-origin: left;
    top: auto;
    bottom: 100%;
}

.u-tooltip-parent:hover .filter__tooltip {
    top: calc(100% + 15px);
}

.filter__tooltip small {
    font-size: 10px;
    display: block;
    margin-top: 5px;
}

.results-wrapper > div {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
}

.results-wrapper > div div:nth-child(2) {
    grid-column: 2 / -1;
    text-align: right;
}

.filter-results-label svg {
    display: none;
}

.filter-results-label[data-engine="blink"] .fa-chrome,
.filter-results-label[data-engine="blink"] .fa-opera,
.filter-results-label[data-engine="blink"] .fa-edge {
    display: inline-block;
}

.filter-results-label[data-engine="webkit"] .fa-safari {
    display: inline-block;
}

.filter-results-label[data-engine="gecko"] .fa-firefox {
    display: inline-block;
}

.filter-results-label[data-engine="trident"] .fa-internet-explorer {
    display: inline-block;
}

.filter-results-label span em {
    text-transform: uppercase;
}

.filter-engine-styles input {
    display: none;
}

.filter-engine-styles input:not(:checked) ~ label {
    text-decoration: line-through;
    opacity: .8;
}

.filter-engine-styles label {
    font-style: italic;
}

.filter-engine-styles input:not(:checked) ~ label svg {
    opacity: .5;
}

.filter-engine-styles label svg {
    margin-right: 5px;
}

.filter-engine-styles label, 
.filter-engine-styles svg {
    cursor: pointer;
}

.filter-engine-styles > span {
    display: none;
}

.filter-engine-styles.blinkStyles .blink-styles,
.filter-engine-styles.webkitStyles .webkit-styles,
.filter-engine-styles.geckoStyles .gecko-styles,
.filter-engine-styles.tridentStyles .trident-styles {
    display: inline-block;
}

.sources {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

.sources__tooltip {
    bottom: 100%;
    right: 0;
    width: 250px;
    max-width: 500px;
}

.sources__tooltip .u-tooltip__arrow {
    top: 100%;
    right: -25px;
    left: auto;
}

.u-tooltip-parent:hover .sources__tooltip {
    bottom: calc(100% + 15px);
    pointer-events: initial;
}

.sources ul {
    margin: auto;
    padding-left: 10px;
    list-style: none;
}

/* || Browser Icons */
.fa-chrome {
    color: #eac407;
}

.fa-opera {
    color: #ce0c0c;
}

.fa-edge {
    color: #0037ff;
}

.fa-internet-explorer {
    color: #00b9ff;
}

.fa-firefox {
    color: #e87411;
}

.fa-safari {
    color: #048cff;
}

/* || Scroll Behaviour */
.u-scrollUp .to-top {
    bottom: 32px;
    opacity: 1;
    pointer-events: initial;
}

.u-scrollDown .actions-wrapper .actions,
.u-scrollUp .actions-wrapper .actions {
    z-index: 9;
    padding-top: 15px;
}

.u-scrollDown .actions-wrapper .actions {
    position: absolute;
    top: -200px;
}

.u-scrollUp .actions-wrapper .actions {
    position: fixed;
    top: 0;
}

.u-scrollUp .actions-wrapper .actions > div {
    position: relative;
    z-index: 10;
}

@media(max-width: 768px) {
    .results > li {
        overflow: hidden;
        background: white;
        border: 0;
    }
    
    .results {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-auto-rows: 185px;
        grid-gap: 5px;
        background: #f1f1f1;
        padding: 5px 5px;
    }
}